.wrapper {
  width: 100%;
  display: grid;
  place-items: center;
}

.pulse-spinner {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #308bc5;
}

.pulse-spinner::after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #308bc5;
  z-index: 1;
  position: absolute;
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
